.title {
    text-align: center;
    color:#555555;
    font-family: raleway;
    font-size: 110px;
    /*weight: strong;*/
}

.links {
    text-align: center;
    color: #222999;
    font-family: arial;
    font-size: 20px;
    /* weight:strong; */
    text-style: underline;
}

.piece-image img {
    width: 320px;
    height: 240px; 
    box-shadow: 6px 6px 7px grey;
}

}
.piece-title {
    color: #555555;
    font-family: raleway;
    font-size: 40px;
}
.piece-price {
    color: #555555;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-style: italic;
}

#topbar {
    float:right;
    margin: 5px;
    padding-right: 10px;
    box-shadow: 6px 6px 7px grey;
}

.art-shadow {
    box-shadow: 7px 7px 12px #aaa;
}

#sticky-sidebar 
{
    position: fixed;   
    /*max-width: 20%;*/
}

.mainsplash
{
    padding-top: 70px;
    padding-bottom: 100px;
}

.piece {
    padding-bottom: 40px;
}

#splash {
    background-image: url('/img/artwork/33.jpg');
    background-size: cover; 
    background-position: center center;
    color: white;
    background-repeat: no-repeat; 
}

#splash h1 {
    margin-top: 20%;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 3px 3px black;
    font-size: 500%;
}

.navbar-brand {
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 300%;
    /*text-shadow: 1px 1px black; */
}

.splashlinks {
    
    color: black;   
}